.h1{
    color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#select{
    color: blueviolet;
}

li{
     color: crimson;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer{
    color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#resultado{
    color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 button{
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

body{
    background-color: aqua;
    margin: 0;
    padding: 0;
}
